body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 300ms linear;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0px;
}
textarea,
input {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
a:visited{
  color: black;
}
ul{
  list-style: none;
}